/** Advanced CSS **/
/**Version 1.2017**/

/* Font */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
label,
small,
.integrated * {
  font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }

/* Colors */
/* form.iu_form sections */
#error_message {
  border: none;
  text-align: left; }

#error_message_title {
  color: #990000; }

#error_message_desc strong {
  color: #990000; }

form.iu_form li.error {
  background-color: #FDEEE8;
  border-left: 3px solid #f25b19; }
form.iu_form p.error,
form.iu_form li.error label {
  color: #191919 !important; }
form.iu_form .required,
form.iu_form .matrix span.required {
  color: #990000 !important; }

/* 
 * form.iu_form Description 
 */
{
  /* Title and description */ }
  .form.iu_form_description h2 {
    font-family: BentonSansBold, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 27px; }
  .form.iu_form_description p {
    font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px; }

/*
 * Breadcrumbs 
 */
{
  /* Page number icons */
  /* Page description under each breadcrumb */ }
  .ap_tp_num {
    background-color: #D6D4D4;
    color: #6E635A !important; }
    .ap_tp_num.ap_tp_num_active {
      background-color: #7A1705;
      color: #fff !important; }
  form.iu_form li.li_pagination {
    font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }
    form.iu_form li.li_pagination span {
      font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      /* Active item */ }
      form.iu_form li.li_pagination span.ap_tp_text_active {
        font-family: BentonSansBold, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
        font-weight: bold; }

form.iu_form {
  /* Section Break */
  /* Buttons */
  /* Link color underneath the "draw signature" input */
  /* File Input */ }
  form.iu_form li {
    background: 0 0 !important;
    margin-bottom: 0;
    transition: .75s background-color ease-in-out; }
    form.iu_form li.highlighted {
      background-color: #EDEBEB !important; }
  form.iu_form input[type=text] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: .5rem;
    border: 1px solid #ccc;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #191919;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(25,25,25,.1);
    border-radius: 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type=checkbox], input[type=radio] {
      box-sizing: border-box !important;
      padding: 0 !important;
      margin: 0 0 1rem !important;
  }
  input[type=radio] {
    box-sizing: border-box !important;
    padding: 0 !important;
    vertical-align: sub !important;
  }
  [type=file], [type=checkbox], [type=radio] {
      margin: 0 0 1rem;
  }
  form.iu_form input:focus,
  form.iu_form input.button_text:focus {
    outline: -webkit-focus-ring-color auto 5px; }
  form.iu_form input[type="checkbox"]:checked + label:before {
    border-bottom: 0.5em solid #7A1705;
    border-right: 0.5em solid #7A1705; }
  form.iu_form input[type="radio"]:checked + label:before {
    background-color: #7A1705; }
  form.iu_form input.text {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #444;
    font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    height: 37px;
    padding: 6px;
    transition: border-color .15s linear, background .15s linear;
    }
  form.iu_form textarea.textarea,
  form.iu_form select.select {
    border: 1px solid #ccc;
    border-radius: 0;
    }
  select.select {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%2825, 25, 25%29'></polygon></svg>");
    background-size: 9px 6px;
    background-position: 97% center;
    background-origin: content-box;
    background-repeat: no-repeat;
  }
  form.iu_form span,
  form.iu_form span.description,
  form.iu_form .matrix caption {
    font-size: 16px; }
  form.iu_form span.description {
    font-size: 14px;
    font-family: BentonSansRegular,'Arial Narrow',Arial,sans-serif;
    color: #191919;
  }
  form.iu_form .matrix caption {
    margin-bottom: 8px; }
  form.iu_form .matrix tbody tr:hover td {
    background-color: #EDEBEB !important; }
  form.iu_form .guidelines small {
    font-size: 12px;
    line-height: 1.6; }
  form.iu_form .section_break h3,
  form.iu_form .section_break p {
    font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }
  form.iu_form .section_break h3 {
    font-family: BentonSansBold, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold; }
  form.iu_form .buttons input.button_text:not(.btn_secondary),
  form.iu_form .uploadifive-button,
  form.iu_form .uploadifive_upload_element_21 {
    -webkit-appearance: none;
    background: #990000;
    border-color: #990000;
    border-style: solid;
    border-radius: 1.25rem;
    border-width: 2px;
    color: #fff;
    font-family: BentonSansBold, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: .5625rem 1rem;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: all .18s ease-in-out; }
    form.iu_form .buttons input.button_text:not(.btn_secondary):hover, form.iu_form .buttons input.button_text:not(.btn_secondary):focus, form.iu_form .buttons input.button_text:not(.btn_secondary):active,
    form.iu_form .uploadifive-button:hover,
    form.iu_form .uploadifive-button:focus,
    form.iu_form .uploadifive-button:active,
    form.iu_form .uploadifive_upload_element_21:hover,
    form.iu_form .uploadifive_upload_element_21:focus,
    form.iu_form .uploadifive_upload_element_21:active {
      background: 0 0;
      border-color: #990000;
      color: #990000;
      cursor: pointer; }
  form.iu_form #uploadifive-element_21,
  form.iu_form .uploadifive_upload_element_21 {
    height: 35px !important;
    line-height: 35px !important; }
  form.iu_form .btn_secondary {
    background: #f7f6f5;
    color: #3b7fa3;
    font-size: 16px;
    line-height: 1.6;
    margin-top: .4rem;
    margin-right: .5rem;
    transition: all .18s; }
    form.iu_form .btn_secondary:hover {
      border-radius: none !important;
      color: #45697f; }
  form.iu_form #review_back,
  form.iu_form #submit_secondary {
    float: left; }
  form.iu_form .mf_sigpad_clear {
    color: #3b7fa3;
    text-decoration: none;
    font-size: 16px; }
    form.iu_form .mf_sigpad_clear:hover {
      color: #45697F; }
  form.iu_form .uploadifive-button,
  form.iu_form #uploadifive_upload_element_21 {
    background-color: #990000;
    background-image: none;
    border-color: #990000;
    color: #fff;
    height: auto !important;
    text-transform.iu_form: none; }
    form.iu_form .uploadifive-button:hover,
    form.iu_form #uploadifive_upload_element_21:hover {
      background: 0 0;
      color: #990000 !important;
      cursor: pointer;
      text-shadow: none; }
label,
small,
p {
  font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }
label {
  font-family: BentonSansBold, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }
  label.description,
  form.iu_form li span label,
  label.choice,
  .matrix th,
  form.iu_form li span.symbol,
  .mf_sigpad_clear,
  form.iu_form li div label,
  form.iu_form li div span.label {
    font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #191919;
    }
  label.choice {
    font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }
input.checkbox,
input.radio {
  margin-bottom: 0px;
  margin-top: 13px; }

/* Machform.iu_form Review Table */
#machform.iu_form_review_table {
  font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }
  #machform.iu_form_review_table tbody tr:hover {
    background-color: white; }
  #machform.iu_form_review_table tbody tr:not(.alt):hover {
    background-color: white; }
  #machform.iu_form_review_table td {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px; }
    #machform.iu_form_review_table td .mf_section_title, #machform.iu_form_review_table td.mf_review_label {
      font-family: BentonSansBold, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 16px; }
  #machform.iu_form_review_table tr.alt {
    background-color: #EDEBEB; }
    #machform.iu_form_review_table tr.alt:hover {
      background-color: #EDEBEB; }

/* form.iu_form Success - Confirmation Page */
.form.iu_form_success {
  line-height: 1.6;
  padding: 56px;
  text-align: left; }
  .form.iu_form_success h2 {
    font-family: BentonSansRegular, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }
  .form.iu_form_success a {
    color: #3b7fa3; }
    .form.iu_form_success a:hover {
      color: #45697F; }

/* Select button updates */

select.select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #191919;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    border: 1px solid #ccc;
    height: 2.4375rem;
    padding: .5rem 1.5rem .5rem .5rem;
    margin: 0 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: #191919;
    background-color: #FAFAFA;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.…points='0,0 32,0 16,24' style='fill: rgb%2825, 25, 25%29'></polygon></svg>");
    background-size: 9px 6px;
    background-position: right -1rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
}

form.iu_form textarea.textarea {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
form.iu_form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: .5rem;
    border: 1px solid #ccc;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #191919;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(25,25,25,.1);
    border-radius: 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="checkbox"]:checked + label::before {
    content: none;
}

input.radio, input.checkbox {
    background-color: rgb(102, 102, 102);
    visibility: visible;
}

input[type="radio"] + label::before, input[type="checkbox"] + label::before {
    content: none;
}


/* Submission error section */
#error_message_title,
#error_message_desc {
  text-align: left; }

#errorListing a {
  color: #3b7fa3;
  background: #f7f6f5; }
  #errorListing a:hover {
    color: #45697F; }

{
  /* form.iu_form items */ }
  label.description,
  fieldset legend,
  span.description,
  form.iu_form li.error label {
    color: #222 !important;
    font-family: BentonSansRegular, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif !important; 
  font-size: 14px;}
  input.text {
    padding: 6px 10px 6px 10px; }
  #li_1 {
    margin-top: 16px; }
  .buttons input#submit_form.iu_form,
  .uploadifive-button {
    border-radius: 1.25rem !important;
    border: 2px solid #900 !important; }
    .buttons input#submit_form.iu_form:focus,
    .uploadifive-button:focus {
      outline: -webkit-focus-ring-color auto 5px; }

form.iu_form li #errorListing li {
  text-align: left;
  display: list-item;
  border: none;
  margin: 0;
    padding: 5px;
}

/*Styles for Upload Button by Akbar*/
/*form.iu_form .uploadifive-button{
height:30px !important;
}*/

.uploadifive-button {
    overflow: hidden;
    position: relative;
}

.uploadifive-button  [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 100%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.uploadifive-button:before {
content: "Select Files";
line-height: 35px !important;
height: 35px !important;
}

/*To fix Address Input Box Issues*/

form.iu_form li div span.state_list {
    height: auto;
}

form.iu_form li div span.left{
clear: left;
}

select.select{
height: 37px;
}

/*Remove > sign from Pagination as it reads weird in Screen Reader*/

.ap_tp_arrow {
display: none !important;
}

/*Styles for Pagination*/ 

@media screen and (max-width: 460px) {
  .ap_table_pagination td {
    display: block;
  }
  
  .ap_table_pagination td:after {
    content: "";
    display: table;
    clear: both;  
  }
  
  .ap_table_pagination td:not(.ap_tp_arrow) {
    clear: both;
    margin-bottom: 10px
  }
  
  .ap_table_pagination .ap_tp_num {
    float: left !important;
    display: block !important;
    margin-bottom: 20px;
  }
  
  .ap_table_pagination .ap_tp_text {
      float: left !important;
      display: block !important;
      clear: right
  }
}